td {
    font-size:18px;
    font-family:Simsun,"Courier New",monospace;
    letter-spacing:0px;
  }

.thx {
  text-align:right; 
}

.well {
  padding-right: 8px;
}

.tablex {
  font-weight: 400;
}

.bs-callout {
    padding: 5px;
    border: 1px solid #eee;
        border-left-color: rgb(238, 238, 238);
        border-left-width: 1px;
    border-left-width: 5px;
    border-radius: 3px;
    color: #555;
}

.bs-callout-danger {
    border-left-color: #ce4844;
}
